*.class
*.log
.idea

core/.cache
core/.classpath
core/.project
simulator/.classpath
simulator/.project
simulator/.settings/*
projectFilesBackup/
projectFilesBackup1/
docker/data/
docker/*.tgz

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
WeatherStations.fos
virtuoso-data/*.lck
virtuoso-data/*.db
virtuoso-data/*.ttl
virtuoso-data/*.ttl.graph
virtuoso-data/*.log
virtuoso-data/*.pxa
virtuoso-data/*.trx
virtuoso-data/*.gz
virtuoso-data/cert

node_modules
