*.class
*.log
apps/.idea*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
apps/simulator/.settings
apps/simulator/.classpath
apps/simulator/.project
apps/core/.cache
apps/core/.classpath
apps/core/.project