*.class
*.log
apps/.idea*

apps/core/.cache
apps/core/.classpath
apps/core/.project
apps/simulator/.classpath
apps/simulator/.project
apps/simulator/.settings/*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
apps/simulator/.settings
apps/simulator/.classpath
apps/simulator/.project
apps/core/.cache
apps/core/.classpath
apps/core/.project
apps/WeatherStations.fos
