#filter-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 310px;
}

#map-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 310px;
  right: 310px;
}

#property-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 310px;
}

#map-content {
  height: 100%;
  width: 100%;
  margin: 0;
}

.supplier_label {
  color: #111111;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 40px;
  border: 2px solid #111111;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0.66;
}