@(address: dataset.Address)

<table>
  <tr>
    <td><b>Name</b></td>
    <td>@address.name</td>
  </tr>
  <tr>
    <td><b>Street</b></td>
    <td>@address.street</td>
  </tr>
  <tr>
    <td><b>Zipcode</b></td>
    <td>@address.zipcode</td>
  </tr>
  <tr>
    <td><b>City</b></td>
    <td>@address.city</td>
  </tr>
  <tr>
    <td><b>Country</b></td>
    <td>@address.country</td>
  </tr>
  <tr>
    <td><b>Latitude</b></td>
    <td>@address.latitude</td>
  </tr>
  <tr>
    <td><b>Longitude</b></td>
    <td>@address.longitude</td>
  </tr>
</table>