@(title: String)(header: Html)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        @* Title and Icon *@
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />

        @* Stylesheets *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("jquery/jquery-ui-1.10.3.custom.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")" />

        @* Javascript *@
        <script src="@routes.Assets.at("jquery/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("jquery/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

        @* User-defined header parts *@
        @header
    </head>
    <body>
      <div id="content">
        @content
      </div>
    </body>
</html>
