@()

@header = {
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")" />
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5mXDIbz7VKQyGbDcwGD5PuK4-ioid8w&sensor=false" ></script>
  <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
}

@content = {
  <div id="filter-pane">
    <div class="widget" style="height: 34%">
      <div class="widget-header">
        Dataset
      </div>
      <div class="widget-content">
        @loadDataset()
      </div>
    </div>
    <div class="widget" style="height: 33%">
      <div class="widget-header">
        Suppliers
      </div>
      <div class="widget-content">
        <button onclick="showSuppliers()">Show all</button>
        <button onclick="hideSuppliers()">Hide all</button>
      </div>
    </div>
    <div class="widget" style="height: 33%">
      <div class="widget-header">
        Deliveries
      </div>
      <div class="widget-content">
        <button onclick="showDeliveries()">Show all</button>
        <button onclick="hideDeliveries()">Hide all</button>
        <p>
          Content Types:
          <select id="contentFilter" onchange="showDeliveries(null, $(this).val())">
            <option value="all" selected="selected">all</option>
            @for((content, count) <- CurrentDataset().contentTypes.take(20)) {
              <option value="@content">@content (@count)</option>
            }
          </select>
        </p>
      </div>
    </div>
  </div>
  <div id="map-pane" class="widget">
    <div class="widget-header">
      Map
    </div>
    <div class="widget-content">
      <div id="map-content">
        Could not load map!
      </div>
    </div>
  </div>
  <div id="property-pane" class="widget">
    <div class="widget-header">
      Details
    </div>
    <div id="property-content" class="widget-content">
      Click on element on map for details.
    </div>
  </div>
  <div id="deliveryStream"></div>
}

@main("Supply Chain Dashboard")(header)(content)