@()

@header = {
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")" />
  <script type="text/javascript" src="@routes.Assets.at("javascripts/googlemaps.js")" ></script>
  <script src="@routes.Assets.at("javascripts/markerwithlabel.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
}

@content = {
  <div id="filter-pane" >
    <div class="widget" style="height: 100%">
      <div class="widget-header">
        Xybermotive
      </div>
      <div id="xybermotive-content" class="widget-content">
      </div>
    </div>
    <!--
    <div class="widget" style="height: 34%">
      <div class="widget-header">
        Simulator
      </div>
      <div class="widget-content">
        @simulatorControl()
        @** loadDataset() *@
      </div>
    </div>
    <div class="widget" style="height: 33%">
      <div class="widget-header">
        Suppliers
      </div>
      <div class="widget-content">
        <button onclick="showSuppliers()">Show all</button>
        <button onclick="hideSuppliers()">Hide all</button>
        <p><input type="text" /> <button>Search</button></p>
      </div>
    </div>
    <div class="widget" style="height: 33%">
      <div class="widget-header">
        Connections
      </div>
      <div class="widget-content">
        <button onclick="showConnections()">Show all</button>
        <button onclick="hideConnections()">Hide all</button>
        <p><input type="text" /> <button>Search</button></p>
        <p>
          Content Types:
          <select id="contentFilter" onchange="showConnections(null, $(this).val())">
            <option value="all" selected="selected">all</option>
            @for((content, count) <- CurrentDataset().contentTypes.take(20)) {
              <option value="@content">@content (@count)</option>
            }
          </select>
        </p>
      </div>
    </div>
  -->
  </div>
  <div id="map-pane" class="widget">
    <div class="widget-header">
      Map
    </div>
    <div class="widget-content">
      <div id="map-content">
        Could not load map!
      </div>
    </div>
  </div>
  <div id="property-pane">
    @widget("Details", "height: 50%") {
      <div id="property-content">
        Click on element on map for details.
      </div>
    }
    @widget("Metrics", "height: 50%") {
      <div id="metrics-content"></div>
    }
  </div>
  <div id="deliveryStream"></div>
}

@main(title = "Supply Chain Dashboard", tab = "map")(header)(content)
