@()

@header = {
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")" />
  <script type="text/javascript" src="@routes.Assets.at("javascripts/googlemaps.js")" ></script>
  <script src="@routes.Assets.at("javascripts/markerwithlabel.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
  <script>
  var running = false;
  var frequency = 1.0;

  // Initialization
  $(function() {
    $("#slider").slider({
      value: 1,
      min: 0.5,
      max: 1000,
      step: 0.5,
      change: function( event, ui ) {
        frequency = 1.0 / ui.value;
        console.log("Frequency changed: " + frequency);
        if(running)
          run()
      }
    });
  });

  // Single step through the simulation
  function step() {
    $.post('simulator/step');
  }

  // Run the simulation
  function run() {
    $.post('simulator/run?frequency=' + frequency, function() {
      running = true;
      $('#simulation-run').button('disable');
      $('#simulation-stop').button('enable');
    });
  }

  // Stop the simulation
  function stop() {
    $.post('simulator/stop', function() {
        running = false;
        $('#simulation-run').button('enable');
        $('#simulation-stop').button('disable');
    });
  }

  $(function() {
    $("#accordion").accordion({heightStyle: "content"});
  });
  </script>
}

@content = {
  <div id="filter-pane" >
    <div class="widget" style="height: 100%">
      <div class="widget-header">Xybermotive</div>
      <div class="widget-content">
        <div id="accordion">
          <h3>Searchable Inventory</h3>
          <div>
            <small>
              <b>Date:</b> <span id="last-inventory-update"></span><br />
              <b>Supplier Id:</b> <span id="supplier-id"></span><br/>
              <br />
              <table id="supplierInventory" class="display compact"></table>
            </small>
          </div>
          <h3>Standard Inventory</h3>
          <div id="xybermotive-content"></div>
          <h3>Simulation Control</h3>
          <div id="simulation-control">
            <p>
              <button onclick="step()">Step</button>

              <button id="simulation-run" onclick="run()">Run</button>

              <button id="simulation-stop" onclick="stop()" disabled="disabled">Stop</button>
            </p>

            <div id="slider"></div>
          </div>
        </div>
        <div id="alternateSupplier-content" style="display:none;"></div>
      </div>
    </div>
    <!--
    <div class="widget" style="height: 34%">
      <div class="widget-header">
        Simulator
      </div>
      <div class="widget-content">
        @simulatorControl()
        @** loadDataset() *@
      </div>
    </div>
    <div class="widget" style="height: 33%">
      <div class="widget-header">
        Suppliers
      </div>
      <div class="widget-content">
        <button onclick="showSuppliers()">Show all</button>
        <button onclick="hideSuppliers()">Hide all</button>
        <p><input type="text" /> <button>Search</button></p>
      </div>
    </div>
    <div class="widget" style="height: 33%">
      <div class="widget-header">
        Connections
      </div>
      <div class="widget-content">
        <button onclick="showConnections()">Show all</button>
        <button onclick="hideConnections()">Hide all</button>
        <p><input type="text" /> <button>Search</button></p>
        <p>
          Content Types:
          <select id="contentFilter" onchange="showConnections(null, $(this).val())">
            <option value="all" selected="selected">all</option>
            @for((content, count) <- CurrentDataset().contentTypes.take(20)) {
              <option value="@content">@content (@count)</option>
            }
          </select>
        </p>
      </div>
    </div>
  -->
  </div>
  <div id="map-pane" class="widget">
    <div class="widget-header">
      Map
    </div>
    <div class="widget-content">
      <div id="map-content">
        Could not load map!
      </div>
    </div>
  </div>
  <div id="property-pane">
    @widget("Details", "height: 50%") {
      <div id="property-content">
        Click on element on map for details.
      </div>
    }
    @widget("Metrics", "height: 50%") {
      <div id="metrics-content"></div>
    }
  </div>
  <div id="deliveryStream"></div>
}

@main(title = "Supply Chain Dashboard", tab = "map")(header)(content)
