@(downstreamMessages: Seq[supplychain.model.Message],
  upstreamMessages: Seq[supplychain.model.Message])

@import supplychain.model.Order
@import supplychain.model.Shipping

<h2>Downstream</h2>

@for(msg <- downstreamMessages) {
  @msg.date:
  @msg match {
    case Order(uri, date, conn, count) => { Order of @count @conn.content.name (s) from @conn.target.name }
    case Shipping(uri, date, conn, count, order, senderWeather, receiverWeather) => { Shipping of @count @conn.content.name (s) to @conn.target.name }
  }
  <br/>
}

<h2>Upstream</h2>

@for(msg <- upstreamMessages) {
  @msg.date:
  @msg match {
    case Order(uri, date, conn, count) => { Order of @count @conn.content.name (s) to @conn.source.name }
    case Shipping(uri, date, conn, count, order, senderWeather, receiverWeather) => { Shipping of @count @conn.content.name (s) from @conn.source.name }
  }
  <br/>
}