@(newsList: List[models.news.News], supplier: supplychain.model.Supplier)

@import models.news.News
@import models.news.Annotation
@import supplychain.model.Supplier

<script>
    $(function () {
        $('#article-tree').jstree()
    });
</script>

@if(newsList.isEmpty) {
  No news for selected supplier found!
} else {
    <div id="article-tree" style="font-size: 75%; ">
    @for(news <- newsList) {
        @renderNews(news)
    }
    </div>
}

<button onclick="$.post('news/reload')">Reload</button>

@renderNews(news: News) = {
    <ul>
    <li><a href="@news.uri">@news.headline.getOrElse("NO HEADLINE")</a><br />
        <ul>@for((annClass, annotations) <- news.annotations.groupBy(_.annClass).toSeq) { @renderAnnotation(annClass, annotations) }</ul>
    </li>

    </ul>
}

@renderAnnotation(annClass: String, annotations: Seq[Annotation]) = {
    @for(ann <- annotations.sortBy(_.body)) {
        <li><a href="@ann.meansUri">@ann.body (@annClass.substring(annClass.lastIndexOf('/') + 1))</a></li>
    }

}


