@(newsList: List[models.news.News], supplier: supplychain.model.Supplier)

@import models.news.News
@import models.news.Annotation
@import supplychain.model.Supplier

@if(newsList.isEmpty) {
  No news for selected supplier found!
} else {
    @for(news <- newsList) {
        @renderNews(news)
    }
}

<button onclick="$.post('news/reload')">Reload</button>

@renderNews(news: News) = {
    <div class="news-info" style="font-size: 75%; ">
        <ul>
        <li><a href="@news.uri">@news.headline.getOrElse("NO HEADLINE")</a><br />
            <ul>@for(ann <- news.annotations) { @renderAnnotation(ann: Annotation) }</ul>
        </li>

        </ul>
    </div>
}

@renderAnnotation(ann: Annotation) = {
    <li><a href="@ann.meansUri">@ann.body</a> (@ann.annClass.substring(ann.annClass.lastIndexOf('/') + 1)) </li>
}


