@()

@main("Supply Chain Dashboard") { } {
  <div class="widget" style="height: 100%">
    <div class="widget-header">
      Query
    </div>
    <div class="widget-content">
      <form action="sparql">
        <textarea name="query" cols="80" rows="30">
PREFIX sc: <@{supplychain.dataset.Namespaces.schema}>
PREFIX geo: <http://www.w3.org/2003/01/geo/wgs84_pos#>

SELECT ?date ?product ?count ?sender ?receiver WHERE {
  ?delivery a sc:Shipping .
  ?delivery sc:count ?count .
  ?delivery sc:date ?date .
  ?delivery sc:connection ?c .

  ?c sc:product ?p .
  ?p sc:name ?product .

  ?c sc:sender ?s .
  ?s sc:name ?sender .

  ?c sc:receiver ?r .
  ?r sc:name ?receiver .
  } LIMIT 20
        </textarea>
        <br/>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
}
