@(supplier: supplychain.model.Supplier)

<table>
  <tr>
    <td><b>Name</b></td>
    <td>@supplier.name</td>
  </tr>
  <tr>
    <td><b>Street</b></td>
    <td>@supplier.address.street</td>
  </tr>
  <tr>
    <td><b>Zipcode</b></td>
    <td>@supplier.address.zipcode</td>
  </tr>
  <tr>
    <td><b>City</b></td>
    <td>@supplier.address.city</td>
  </tr>
  <tr>
    <td><b>Country</b></td>
    <td>@supplier.address.country</td>
  </tr>
  <tr>
    <td><b>Latitude</b></td>
    <td>@supplier.coords.lat</td>
  </tr>
  <tr>
    <td><b>Longitude</b></td>
    <td>@supplier.coords.lon</td>
  </tr>
</table>