@(xyData: supplychain.model.XybermotiveData, date: String, supplierId: String)
@import supplychain.model.XybermotiveInventory

<small>
<b>Date:</b> @date<br />
<b>Supplier:</b> @supplierId<br/>
<br />

<table cellspacing="0">
  <tr><th colspan="3" style="border-top: medium solid #000000; ">Artikelnummer</th></tr>
  <tr>
    <th style="border-bottom: medium solid #000000; ">Artikel</th>
    <th style="border-bottom: medium solid #000000; ">Lager</th>
    <th style="border-bottom: medium solid #000000; ">Frei</th>
  </tr>

@for(xyInv <- xyData.data) {
  @renderInventroy(xyInv)
}
</table>
</small>

@renderInventroy(xyInv: XybermotiveInventory) = {
  <tr><td colspan="3">@xyInv.partNumber</td></tr>
  <tr>
    <td style="border-bottom: thin solid #000000; ">@xyInv.partName</td>
    <td style="border-bottom: thin solid #000000; ">@xyInv.availableInventory</td>
    <td style="border-bottom: thin solid #000000; ">@xyInv.freeInventory</td>
  </tr>
}
