@()

@header = {
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")" />
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX5mXDIbz7VKQyGbDcwGD5PuK4-ioid8w&sensor=false" ></script>
  <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
}

@content = {
  <div id="content">
    <div id="filter-widget">
      <button onclick="$.post('/dataset/schnellecke', function(data) { window.location.reload() })" >
      Load Schnellecke Dataset
      </button>
      <button onclick="$.post('/dataset/sourcemap/6100', function(data) { window.location.reload() })" >
      Load SourceMap Dataset
      </button>

      @*<fieldset>*@
        @*<legend>Delivery Filter</legend>*@
        @*<p><label>Address: <input type="text" name="addressId"></label></p>*@
        @*<p>*@
          @*<label for="senderOrReceiver">Sender or Receiver:</label>*@
          @*<select id="unittype" name="unittype">*@
            @*<option value="1">Sender</option>*@
            @*<option value="2">Receiver</option>*@
            @*<option value="2">Sender and Receiver</option>*@
          @*</select>*@
        @*</p>*@
      @*</fieldset>*@
    </div>
    <div id="map-widget" >
      Could not load map!
    </div>
    <div id="property-widget">
      Select address for details.
    </div>
  </div>
}

@main("Supply Chain Dashboard")(header)(content)