@(metricValues: Seq[supplychain.metric.MetricValue], supplier: supplychain.model.Supplier)
@import supplychain.metric.Metric
@import supplychain.metric.SilkMetric
@import supplychain.metric.MetricValue

@if(metricValues.isEmpty) {
  No supplier with received messages selected!
} else {
    @renderWeather(RdfStoreDataset.Scheduler.currentDate.toFormat("yyyy-MM-dd"))
    @for(metricValue <- metricValues) {
        @renderMetric(metricValue)
    }

}

<!-- <button onclick="$.post('metrics/reload')">Reload</button> -->

@renderWeather(dateStr: String) = {
    <div class="weather-info">
        <span class="metric-dimension">Date:</span> <span class="metric-value">@dateStr</span><br />
        <span class="metric-dimension">Tmin:</span> <span class="metric-value">@supplier.weatherStation.observations(dateStr).tmin.formatted("%.2f") °C</span><br />
        <span class="metric-dimension">Tmax:</span> <span class="metric-value">@supplier.weatherStation.observations(dateStr).tmax.formatted("%.2f") °C</span><br />
        <span class="metric-dimension">PRCP:</span> <span class="metric-value">@supplier.weatherStation.observations(dateStr).prcp.formatted("%.2f") mm</span><br />
        <span class="metric-dimension">SNWD:</span> <span class="metric-value">@supplier.weatherStation.observations(dateStr).snwd.formatted("%.2f") mm</span><br />
    </div>
}

@renderMetric(mv: MetricValue) = {
    <div class="metric-info">
        <span class="metric-dimension">@mv.metric.dimension.capitalize</span> <span class="metric-value">@mv.value.formatted("%.2f") @mv.metric.unit</span>
@if(mv.metric.isInstanceOf[SilkMetric]) {
    <small><a href="@{Configuration.get.silkUrl+ "transform/" + Configuration.get.silkProject + "/"  + Configuration.get.silkTask + "/editor/" + mv.metric.dimension }" target="_blank">edit</a></small>
}
    </div>
}


