@()
@import models.Configuration

<p>
    <button onclick="step()">Step</button>
    <button id="simulation-run" onclick="run()">Run</button>
    <button id="simulation-stop" onclick="stop()" disabled="disabled">Stop</button>
</p>

<p>
    Simulation Date: <input id="currentDate" value="@Configuration.get.minStartDate" onchange="newStartDate(this.value)" />
    <div id="dateSlider"></div>
</p>
<!--
<p>
    Simulation Speed:
    <div id="slider"></div>
</p>
-->

<script>
    var running = false;
    var interval = 1.0;
    var startDate = new Date(@RdfStoreDataset.Scheduler.currentDate.milliseconds);

    // Initialization
    $(function() {
        /*
        $("#slider").slider({
            value: 1,
            min: 0.2,
            max: 5.0,
            step: 0.2,
            change: function( event, ui ) {
                interval = 1.0 / ui.value;
                console.log("Interval changed: " + interval);
                if(running)
                    run();
            }
        });
        */
        $("#currentDate").val($.formatDateTime('yy-mm-dd', startDate));
        $("#dateSlider").slider({
            value: @Configuration.get.minStartDate.milliseconds,
            min: @Configuration.get.minStartDate.milliseconds,
            max: @Configuration.get.maxEndDate.milliseconds,
            step: 86400000,
            change: function(event, ui) {
                startDate = new Date(ui.value);
                $("#currentDate").val($.formatDateTime('yy-mm-dd', startDate));
                console.log("Simulation start date changed to: " + startDate);
            },
            stop: function(event, ui) {
                var uiDate = new Date(ui.value)
                if (startDate != uiDate){
                    startDate = uiDate;
                    $("#currentDate").val($.formatDateTime('yy-mm-dd', startDate));
                    var formatedDate = $.formatDateTime('yy-mm-dd', startDate);
                    $.post("simulator/changeDate?date=" + formatedDate, function(data) {});
                }
            }
        });
    });

    function newStartDate(val) {
        var timestamp = Date.parse(val);
        if (isNaN(timestamp) == false)
        {
            setStartDate(val);
            startDate = new Date(timestamp);
            var formatedDate = $.formatDateTime('yy-mm-dd', startDate);
            $.post("simulator/changeDate?date=" + formatedDate, function(data) {});
        } else {
            $("#currentDate").val("only YYYY-MM-DD");
        }
    }

    function setStartDate(val) {
        var timestamp = Date.parse(val);
        if (isNaN(timestamp) == false)
        {
            $("#currentDate").val(val);
            startDate = new Date(timestamp);
            $("#dateSlider").slider("value", timestamp);
        } else {
            $("#currentDate").val("only YYYY-MM-DD");
        }
    }

    // Single step through the simulation
    function step() {
        $.post('simulator/step');
    }

    // Run the simulation
    function run() {
        $.post('simulator/run?interval=' + interval, function() {
            running = true;
            $('#simulation-run').button('disable');
            $('#simulation-stop').button('enable');
        });
    }

    // Stop the simulation
    function stop() {
        $.post('simulator/stop', function() {
            running = false;
            $('#simulation-run').button('enable');
            $('#simulation-stop').button('disable');
        });
    }

</script>