html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

#content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
  margin: 0;
}

.widget {
  position: relative;
  margin: 5px;
  background-color: white;
  border: 1px solid #90C1E6;
}

.widget-header {
  height: 20px;
  font-size: 15px;
  font-weight:bold;
  border-bottom: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #90C1E6;
}

.widget-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
  padding: 10px;
}

.ui-widget{
  font-size:12px;
}